:root {
  --background: #000000;
  --background-alt: #383838;
  --foreground: #1a1a1a;
  --accent: #fffb00;
  --accent-dark: #6b6900;

  --loading-tint: rgba(0, 0, 0, 0.8);
  --popup-tint: rgba(0, 0, 0, 0.8);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: white;
  font-family: sans-serif;
  pointer-events: none;
  user-select: none;
  text-align: center;
}

a:visited {
  color: blue;
}

#side {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#head-logo {
  width: 10vw;
  margin-left: auto;
  margin-right: auto;
}

.cfgviewer {
  background-color: var(--background-alt);
}

#client-section {
  background-color: var(--background-alt);
  padding: 4px;
  margin: 8px;
  margin-bottom: 0;
}

.no-popup {
  user-select: all;
  pointer-events: all;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

#client-view {
  display: flex;
}

.model-controls {
  display: flex;
}

#loading-popup {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: var(--loading-tint);
  position: fixed;
  transition: 0.2s;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  z-index: 10;
  flex-direction: column;
  pointer-events: "all";
}

#login-popup {
  transition: 0.2s;
  pointer-events: all;
  background-color: var(--popup-tint);
  border: 2px solid black;
  width: 100vw;
  height: 100vh;
  display: flex;
  position: fixed;
  z-index: 2;
  flex-direction: column;
  left: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  
  overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 4px;
}

input {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: none;
  outline: none;
  background-color: var(--foreground);
  width: 50%;
  font-size: 1.5em;
  color: #aaaaaa;
  transition: 0.2s;
}

input:focus {
  color: white;
}

button:active, input[type=file]::file-selector-button:active {
  color: black;

}

button:hover, input[type=file]::file-selector-button:hover {
  background-color: var(--accent);
  color: var(--background-alt);
}

button, input[type=file]::file-selector-button {
  text-align: center;
  border: none;
  outline: none;
  background-color: var(--accent-dark);
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4px;
  color: #ffffff;
  font-size: 1.2em;
  padding: 4px;
  transition: 0.2s;
  text-decoration: none;
}

input[type=file] {
  width: auto;
  padding: 0;
  margin: 0;
}

input[type=file] {
  margin-left: 4px;
}

input[type=file]::file-selector-button {
  margin: 0;
  text-align: left;
}

.login-method {
  display: flex;
  flex-direction: column;
  margin: 16px;
  background-color: var(--background-alt);
  padding: 8px;
}

#notifications {
  right: 0;
  bottom: 0;
  position: fixed;
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.notification {
  height: fit-content;
  padding: 8px;
  margin: 8px;
  background-color: var(--foreground);
}

#model-list {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #222;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.model {
  margin: 4px;
}

.model-delete {
  display: block;
  width: 30px;
  height: 30px;
  color: red;
}